
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px double #daa520;
            padding: 10px;
            margin: 10px;
            background-color: lightblue;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    margin-left: 20px;
}
ul{
    text-align: center;
    text-align: left;
}
.footer{
    color: green;
    background-color: lightgreen;
}